FORGE_SCHEDULER_URL=https://forge.lab.myDomain.dev
FORGE_VAULT_ADDR=http://IP_OR_HOSTNAME_OF_INTERNAL_MACHINE_HOSTING_VAULT:8200
FORGE_VAULT_TOKEN=YOUR_VAULT_TOKEN
AGENT_REPLICAS: 6
FORGE_AGENT_TOKEN=fgt_token_here
FORGE_GRPC_ADDR=forge.lab.myDomain.dev